.main
	position: relative
	padding: 133px 0 0 40px
	margin: 0 auto
	max-width: 1680px
	z-index: 100
	background-color: $white 
	+lg 
		padding: 100px 0 0 20px
	+md 
		padding: 36px 0 0
	&__inner
		position: relative
		padding: 21px 0 0 380px
		+lg 
			padding: 0 0 0 340px
		+md 
			padding-left: 0