---
title: Home page
headerClass: anim
bodyClass: "is-fixed"
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ mixins.header(
		[{
			name: "About",
			url: "./privacy.html"
		},
		{
			name: "Services",
			url: "#",
			target: "trust"
		},
		{
			name: "Client",
			url: "#",
			target: "client"
		},
		{
			name: "Contact",
			url: "./contact.html"
		}],
		'anim'
	) }}
	{% include "partials/_preloader.html" %}
	{% include "partials/_topic.html" %}
	{% include 'partials/main/_index.html' %}
	{% include 'partials/_footer-main.html' %}
	
{% endblock %}
