<!-- begin footer -->
<footer class="footer">
	<div class="footer__inner">
		<div class="footer__top">
			<h2 class="title-lg footer__title">What can we help you with?</h2>
			<a href="#" class="btn footer__btn">Contact Us</a>
		</div>
		<div class="footer__description">
			<p>Dolfin is the trading name of Dolfin Financial (UK) Ltd, a company authorised and regulated by the Financial Conduct Authority (reference number 552894) and registered in England and Wales with company registration number 07431519. Dolfin Financial (UK) Ltd is a subsidiary of Dolfin Group Ltd, an exempted company organised under the laws of Bermuda, registered number 50505.</p>
		</div>
	</div>
	<div class="footer__container">
		<div class="footer__info">
			<div class="footer__copy">© Blenchley Cipher 2017</div>
			<div class="footer__address">50 Berkeley Street, London, W1J 8HA</div>
			<a href="mailto:" class="footer__link footer__mail">info@dolfin.com</a>
		</div>
		<nav class="footer__nav">
			<a href="#" class="footer__link">Twitter</a>
			<a href="#" class="footer__link">Facebook</a>
			<a href="#" class="footer__link">Telegram</a>
		</nav>
	</div>
</footer>
<!-- end footer -->