<!-- begin footer -->
<footer class="footer footer_main" data-inversion="blue">
	<div class="footer__inner">
		<div class="footer__top">
			<h2 class="title-lg footer__title">Learn more about Cipher Principles advisory</h2>
			<a href="#" class="btn footer__btn">Get in Touch</a>
		</div>
		<div class="footer__description">
			<a href="#" class="footer__logo">
				<img src="img/logo-by.svg" alt="Powered By DOLFIN">
			</a>
			<p>Dolfin is the trading name of Dolfin Financial (UK) Ltd, a company authorised and regulated by the Financial Conduct Authority (reference number 552894) and registered in England and Wales with company registration number 07431519. Dolfin Financial (UK) Ltd is a subsidiary of Dolfin Group Ltd, an exempted company organised under the laws of Bermuda, registered number 50505.</p>
		</div>
	</div>
	<div class="footer__container">
		<div class="footer__info">
			<div class="footer__copy">© Cipher Principles 2017</div>
			<div class="footer__address">50 Berkeley Street, London, W1J 8HA</div>
			<a href="mailto:info@dolfin.com" class="footer__link footer__mail">info@dolfin.com</a>
			<a href="#" class="footer__link footer__secondary">LinkedIn</a>
		</div>
		<nav class="footer__nav">
			<a href="./privacy.html" class="footer__link">Terms and Conditions</a>
			<a href="#" class="footer__link">Privacy and Cookies</a>
		</nav>
	</div>
</footer>
<!-- end footer -->