<!-- begin sticky-nav -->
<div class="sticky-nav js-sticky-sidebar">
	<div class="sticky-nav__inner">
		<div class="sticky-nav__container">
			<div class="label sticky-nav__label">About our advisory</div>
			<div class="sticky-nav__line" data-line></div>
			<ul class="sticky-nav__list">
				{% for item in [
					{
						target: 'trust',
						title: 'Trust'
					},
					{
						target: 'experience',
						title: 'Experience'
					},
					{
						target: 'approach',
						title: 'Approach'
					},
					{
						target: 'services',
						title: 'Services'
					},
					{
						target: 'client',
						title: 'Client'
					}
				] %}
					<li class="sticky-nav__item">
						<a data-href="{{item.target}}" class="sticky-nav__link">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<!-- end sticky-nav -->