// body.is-fixed
// 	.section__figure
// 		position: absolute
// 		top: 0


.section
	position: relative
	padding-top: 50px
	padding-bottom: 142px
	+lgd 
		padding: 50px 0
	+mdd
		padding: 21px 20px 20px
	&:first-child
		// padding-top: 15px
		padding-top: 160px
		+lgd
			padding-top: 140px
	&:last-child
		padding-bottom: 78px
	&:last-child
		+lgd 
			padding-top: 50px
			padding-bottom: 50px
		+mdd 
			padding-top: 21px
			padding-bottom: 20px
	&.is-active
		.section__figure-in
			opacity: 1
			visibility: visible
	&__header,
	&__description
		position: relative
		z-index: 2
		width: 380px
		+lgd 
			width: 50%
			padding-right: 40px
		+mdd 
			padding-right: 0
	&__header
		+mdd
			margin-bottom: -80px
		+mdd 
			width: 100%
			max-width: 420px
		+sm 
			margin-bottom: -45px
			max-width: 280px
	&__description
		+mdd 
			clear: both
			padding-top: 41px
			width: 100%
		p
			+f(18px, 400, 28px)
			+lgd
				+f(14px, null, 28/18)
			+mdd 
				+f(13px, null, 18px)
			&:not(:last-child)
				margin-bottom: 28px
			a 
				position: relative
				display: inline-block
				vertical-align: top
				color: #0171BB
				+hover 
					&:before
						opacity: 0
				&:before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: 2px
					border-bottom: 1px solid #0171BB
					transition: opacity 0.25s
	&__figure
		position: absolute
		top: 0
		left: 420px
		right: 0
		bottom: 0
		// background: $lightGray
		+lgd 
			left: auto
			width: 50%
		+mdd 
			position: relative
			top: auto 
			left: auto 
			right: auto
			bottom: auto
			float: right
			padding-bottom: 66%
			width: 72%
			height: 0
		+mdd 
			padding-bottom: 50%
			width: 60%
		+sm
			padding-bottom: 74%
			width: 81%
		&-in
			position: fixed
			top: 0
			left: 0
			width: 100%
			height: 100vh
			opacity: 0
			visibility: hidden
			background: $lightGray
			+vertical
			transition: opacity 0.6s, visibility 0.6s
			+gpu
			+mdd 
				position: absolute !important
				width: 100% !important
				height: 100% !important
				opacity: 1
				visibility: visible
				transform: translate3d(0,0,0) !important
			&.is-static
				position: relative
	&__label
		margin-bottom: 16px
		+sm 
			margin-bottom: 8px
	&__title
		margin-bottom: 35px
		+mdd
			margin: 0
	&__trust
		// top: 47%
		[data-svg-wrapper] 
			position: relative
			display: inline-block
			vertical-align: top
			width: 190px
			+lgd 
				max-width: 35%
			+mdd
				max-width: 32%
		[data-svg-container]
			position: absolute
			top: 50%
			left: 50%
			overflow: hidden
			width: 46%
			transform: translate3d(-42%,-56%,0)
		[data-svg-icon]
			width: 100%
		[data-svg-icon="shield"]
			opacity: 0
			transform: translate3d(0,20%,0)
		[data-svg-icon="check"]
			opacity: 0.3
			transform: translate3d(0,100%,0)
	&__experience
		// top: 39.5%
		padding: 0 60px
		+mdd 
			padding: 0 53px
		img 
			width: 498px
			max-width: 100%
	&__approach
		// top: 37.5%
		[data-svg-wrapper] 
			position: relative
			display: inline-block
			vertical-align: top
			width: 293px
			+lgd 
				max-width: 43%
		[data-svg-inner]
			position: relative
			padding-bottom: 101.5%
			width: 100%
			height: 0
		[data-svg-icon="target"]
			position: absolute
			left: 0
			bottom: 0
			width: 81%
			opacity: 0
			transform: translate3d(0,20%,0)
		[data-svg-icon="arrow"]
			width: 100%
		[data-svg-container]
			position: absolute
			top: -8%
			right: 0
			overflow: hidden
			padding-bottom: 82%
			width: 63%
			height: 0
			opacity: 0
			transform: translate3d(18%,-12%,0) rotate(45deg)
		[data-svg-box]
			position: absolute
			top: 6.5%
			left: 0
			width: 100%
			transform: translate3d(0,0,0) rotate(-45deg)
	&__icon
		position: absolute
		top: 50%
		left: 0
		right: 0
		font-size: 0
		text-align: center
		transform: translate3d(0,-50%,0)
		+lgd 
			top: 50%
	[data-animation-section-item]
		opacity: 0
		transform: translate3d(0,40px,0)

.sections
	border-bottom: 1px solid rgba($black, 0.2)
	+mdd 
		padding-bottom: 41px