.icon-arr-bottom {
  width: 1.63em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-in {
  width: 1.07em;
  height: 1em;
  fill: currentColor;
}
