.icon-arr-bottom {
  width: 1.63em;
  height: 1em;
  fill: currentColor;
}
.icon-chat {
  width: 1.44em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-diamond {
  width: 1.22em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-in {
  width: 1.07em;
  height: 1em;
  fill: currentColor;
}
.icon-logo-lg {
  width: 1.88em;
  height: 1em;
  fill: currentColor;
}
